.card-new {
  width: 264px;
  height: 264px;
  background: #d9d9d9;
  background: linear-gradient(0deg, #d9d9d9, #d9d9d9), linear-gradient(0deg, #f7edbd, #f7edbd);
  border: 3px solid rgba(247, 237, 189, 1);
}
